html,
body {
    margin: 0;
    padding: 0;
}

.monactualité{
    margin-top: 5rem!important;
    margin-bottom: 3rem!important;
}

.monformulaire{
margin-left: 25%;
}

.lesimagesactu {
    height: 45vh;
    width: 45vw;
    object-fit: cover;
}